<div class="card side-bar-card">
  <i class="fa fa-times cross-icn" aria-hidden="true"></i>
  <div class="card-body">
    <ul class="sidebar-menu">
      <li class="have-children mt-1 "><i class="fa fa-user user-icn"></i><strong class="name">Pruthiraj</strong></li>
      <li class="have-children hr"><a href="#"><i class="fa fa-bell-o icon" aria-hidden="true"></i><strong>Notifiations</strong></a>
        <hr>
        <ul>
          <li><a href="#"><i class="fa fa-university sub-icn"></i><small class="subname">But while this is good to know, this really depends more on the context of your content <br/><small>45 minute ago</small></small> </a></li>
          <li><a href="#"> <i class="fa fa-university sub-icn"></i><small class="subname">But while this is good to know, this really depends more on the context of your content</small></a></li>
          <span class="seeall">See all</span>
        </ul>
      </li>
      <hr>
      <li class="have-children mt-1 "><i class="fa fa-home user-icn"></i><strong class="name">Home</strong></li>
      <li class="have-children hr"><a href="#"><i class="fa fa-cogs icon" aria-hidden="true"></i><strong>Productions</strong></a>
        <hr>
        <ul>
          <li><a href="#"><strong class="sub">Dying</strong></a></li>
          <li><a href="#"><strong class="sub finishing">Finishing</strong></a></li>
          <li><a href="#"><strong class="sub crusting">Crusting</strong></a></li>
        </ul>
      </li>
      <li class="have-children mt-1 "><i class="fa fa-file-text user-icn"></i><strong class="name">Report</strong></li>
      <li class="have-children mt-1 "><i class="fa fa-globe user-icn"></i><strong class="name">Planning</strong></li>
      <li class="have-children mt-1 "><i class="fa fa-inr user-icn"></i><strong class="name">Finances</strong></li>
      <hr>
      <li class="have-children mt-1 "><i class="fa fa-chevron-down user-icn"></i><strong class="name">See More</strong></li>
    </ul>
  </div>
</div>
