<section class="vh-100" style="background-color: #50a9fc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5">
            <h3 class="mb-5">Sign in</h3>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-outline mb-4 text-left">
                <label class="form-label" for="typeEmailX-2">Email</label>
                <input
                  type="email"
                  formControlName="email"
                  id="typeEmailX-2"
                  class="form-control form-control-lg"
                />
                <div *ngIf="email.invalid || email.touched || formsubmitted">
                  <span
                    *ngIf="email.errors?.required && formsubmitted"
                    class="text-danger"
                    >Email is required</span
                  >
                  <!--question mark(?) is a safe navigation operator-->
                  <span *ngIf="email.errors?.pattern" class="text-danger"
                    >Please Enter a valid email Id</span
                  >
                </div>
              </div>
              <div class="form-outline mb-4 text-left">
                <label class="form-label" for="typePasswordX-2">Password</label>
                <input
                  type="password"
                  formControlName="password"
                  id="typePasswordX-2"
                  class="form-control form-control-lg"
                />
                <div
                  *ngIf="
                    password &&
                    password.invalid &&
                    (password.dirty || password.touched || formsubmitted)
                  "
                >
                  <span class="text-danger">Password is Required.</span>
                </div>
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">
                Login
              </button>
              <span class="text-danger">{{message}}</span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
