<section  style="background-color: #d2d5d8; overflow: hidden;">
  <!-- <div class="container"> -->
    <nav class="navbar">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <a class="navbar-brand ml-2" href="#">
            <img src="../../../../assets/MDB/img/userimg.jfif" alt="" width="30" height="24">
          </a>
          <input type="text" class="form-control search-input" placeholder="Search this blog">
          <div class="input-group-append">
            <button class="btn btn-secondary search-btn" type="button">
              <i class="fa fa-search search-Icon"></i>
            </button>
          </div>
          <nav class="d-flex breadcrumb">
            <small class="mb-0">
              <a href="" class="text-decoration-none brd-clr">Product</a>
              <span>></span>
              <a href="" class="text-decoration-none brd-clr">Dying</a>
              <span>></span>
              <a href="" class="text-decoration-none brd-clr">Receipes</a>
              <span>></span>
              <a href="" class="text-reset text-decoration-none">Cow</a>
            </small>
          </nav>
        </form>
        <a class="navbar-brand" href="#">
          <img src="../../../../assets/MDB/img/userimg.jfif" alt="" width="30" height="24">
        </a>
      </div>
    </nav>

  <!-- </div> -->
  <div class="col-md-12">
      <div class="row">
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-md-5">
        <div class="card middle-bar-card mt-2">
          <div class="card-header header">
            <strong class="name" style="color:rgb(30 202 241) ;">Pruthiraj</strong>
            <!-- Tabs navs -->
            <!-- Tabs navs -->
            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="ex3-tab-1"
                  data-mdb-toggle="tab"
                  href="#ex3-tabs-1"
                  role="tab"
                  aria-controls="ex3-tabs-1"
                  aria-selected="true"
                  ><b style="
                  font-weight: 800;
              ">Daily</b></a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="ex3-tab-2"
                  data-mdb-toggle="tab"
                  href="#ex3-tabs-2"
                  role="tab"
                  aria-controls="ex3-tabs-2"
                  aria-selected="false"
                  ><b style="
                  font-weight: 800;
              ">Pending</b></a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="ex3-tab-3"
                  data-mdb-toggle="tab"
                  href="#ex3-tabs-3"
                  role="tab"
                  aria-controls="ex3-tabs-3"
                  aria-selected="false"
                  ><b style="
                  font-weight: 800;
              ">Monthly</b></a
                >
              </li>
            </ul>
          </div>
          <div class="card-body body">
              <div class="card child-card">
                <div class="card-body new-card ">

                </div>
              </div>

              <div class="card mt-2 child-card">
                <div class="card-body new-card-2 ">

                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card side-card mt-2">
          <div class="card-header header">
            <strong class="name" style="color:rgb(30 202 241) ;">Pruthiraj</strong>
          </div>
          <div class="card-body new-card body">

          </div>
        </div>

        <div class="card side-card mt-2">
          <div class="card-header header">
            <strong class="name" style="color:rgb(30 202 241) ;">Pruthiraj</strong>
          </div>
          <div class="card-body side-new-card-2 body">

          </div>
        </div>
      </div>
    </div>
  </div>
    <footer class="bg-light text-center text-lg-start footer">
      <div class="text-center p-3" style="background-color: white">
        <b style="color: rgb(30 202 241);">Innovated By Farzan Miza</b>
      </div>
    </footer>
</section>
